exportPattern("^[[:alpha:]]+")
import(BiocGenerics)


#importFrom(IRanges,elementLengths)
importFrom(lattice,stripplot)
importFrom(GenomicRanges,width,assay,seqnames,start,end,rowData)
importFrom(hwriter,hwrite,hwriteImage)
importFrom(biomaRt,useMart,getBM)

importFrom(ggplot2,ggplot,aes,stat_binhex,labs,scale_fill_gradient)

import(edgeR)
#import(GenomicRanges)
#importFrom(edgeR,glmLRT,DGEList,calcNormFactors,rpkm)

importFrom(ReportingTools,publish,HTMLReport,finish)
importFrom(GOstats,summary)
importFrom(XML,xmlChildren,xmlRoot,removeChildren,addChildren,replaceNodes,saveXML,htmlParse)


